@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background: #fff;
  color: #333;
}

.start {
  font-size: 1.5rem;
  padding: 10px 40px;
  padding-top: 13px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #333;
  transition: .3s;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin .5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover,
.time-btn.active {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.remove {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(to right bottom, #ff15f9, #d82eff, #ac3dff, #7646ff, #0c4cff);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

#newGame {
  all: unset;
  background: #16D9E3;
  padding: 10px 50px;
  padding-top: 14px;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  transition: .15s ease;
}

#newGame:hover {
  box-shadow: 0px 7px 20px -4px #607d8b;
  transform: translateY(-2px);
}

.btn {
  background: unset;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  transition: .3s ease;
}

.btn:hover {
  background: #2f3843;
  border-color: #2f3843;
}

.btn__border {
  position: fixed;
  left: 20px;
  top: 20px;
  border: 0;
  background: 0;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: .3s ease;
  border-bottom: 1px solid transparent;
}

.close {
  border: 1px solid transparent;
  position: absolute;
}

.btn__border:hover {
  border-color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  transition: .3s ease;
  overflow-y: auto;
  padding-bottom: 60px;
  z-index: 2;
}

.menu.active {
  left: 0;
  opacity: 1;
}

.menu table th,
.menu table td {
  border: 1px solid;
  padding: 15px;
  font-size: 28px;
}

.menu table {
  border-collapse: collapse;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.menu table th {
  background: #fff;
  color: #000;
  border-color: #fff;
}

.menu table th:not(:last-child) {
  border-right-color: #000;
}

.name__input {
  background: unset;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.name__input::placeholder {
  color: #fff;
  opacity: .7;
}

h1.realtime-score.hide {
  bottom: -100%;
  opacity: 0;
}

.realtime-score {
  font-size: 60px;
  font-weight: 700;
  bottom: unset;
  opacity: 1;
  transition: .3s;
  margin: 10px 0;
  line-height: 1;
  margin-bottom: -20px;
}

.name__td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name__td img {
  margin-left: 10px;
  margin-bottom: 5px;
  max-width: 25px;
}

p.error_input {
  font-size: 18px;
  min-height: 30px;
}

.countdown {
  background: rgb(0 0 0 / 30%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130px;
  font-weight: 700;
  transition: .3s ease;
  border-radius: 30px;
  color: #fff;
}

.countdown span {
  transition: .3s;
  margin-bottom: -30px;
}

.countdown span.scale_zero {
  transform: scale(0);
  opacity: 0;
}

.countdown span.hide {
  display: none;
}

.countdown.remove {
  display: none;
}

@media all and (max-width: 567px) {

  .board {
    width: 90%;
    height: 400px;
    margin: 0 auto;
  }

  h1 {
    line-height: 1;
    font-size: 3rem;
  }

  .realtime-score {
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    right: unset;
  }

  .menu table th,
  .menu table td {
    font-size: 20px;
  }

  .time-btn {
    font-size: 1rem;
  }

  .menu {
    padding-top: 50px;
  }

  .realtime-score {
    position: unset;
    transform: unset;
    margin-bottom: -90px;
    margin-top: 30px;
    font-size: 38px;
  }
}